img {
    width: 25vh;
    align-items: start;
    border-radius: 50%;

}

.contactos {
    display: flex;
    padding: 5vh;
    border: 0.1vh solid lightgrey;

}

.nombrecontacto {
    display: flex;
    border:red solid 0.1vh; 
}

.iconos {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    height: auto;
    border: blue solid 0.1vh;
    margin-left: auto !important;
