img {
    width: 25vh;
    align-items: start;
    border-radius: 50%;

}

.contactos {
    display: flex;
    padding: 5vh;
    border: 0.1vh solid lightgrey;

}

.nombrecontacto {
    display: flex;
    flex-direction: column;
    text-align: start !important; 
}

.iconos {
    display: flex;
    gap: 5rem;
    align-items: start;
    justify-content: flex-end;
    margin-left: auto !important;

}

.datos-contact p {
    padding: auto;
    text-align: start !important;
    
}

.btn-right {
    display: block;
    margin-left: auto;
    margin-bottom: 2vh;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2vh;
}